src/main/app/dataviewmatchoperator.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dataviewmatchoperatorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/MatchOperator" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="fc027551-4697-4d35-bf54-9ba661401a4f">
            <dw:input-payload doc:sample="samplejsoninput\sampleJsonInput.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json

%function validateDataTypeMethod(input)
input match {
    :array -> "input is an array of size $(sizeOf input)",
	:object -> (type:"object") ++ input,
	:number -> $ as :string {format: "##,##.00"},
	"Sadik" -> "Hey are you " ++ $ ++ " really ?",
	default -> input
}
---
validateDataTypeMethod(payload)]]></dw:set-payload>
        </dw:transform-message>
        <logger message="This is Custom log : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
